

/* SCSS RGB */
/* $lapis-lazuli: rgba(51, 102, 153, 1);
$dark-sky-blue: rgba(134, 187, 216, 1);
$charcoal: rgba(47, 72, 88, 1);
$granny-smith-apple: rgba(158, 228, 147, 1);
$nyanza: rgba(218, 247, 220, 1); */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body
{
    text-align: center;
    align-items: center;
} */

#mainContainer
{
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* Fiches Consult */

.fichesConsultView table
{
    position: relative;
    left: 12%;
    top: 0.5%;
    right: 15%;
}
/* Member */

.memberView
{
    flex-direction: column;
}

.success
{
    flex-direction: column;
}

/* Calendar */

.calendar_main
{
    margin-top: 10%;
    width: 500px;
    height: 500px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 30px 30px 30px 30px;
}

.calendar_week
{
    background-color: #86BBD8;
    text-align: center;
}

.calendar_days_rows
{
    background-color: #DAF7DC;
    text-align: center;
}

.calendar_days_rows td
{
    text-align: center;
}

#active_day
{
    border-radius: 30px 30px 30px 30px;
    background-color: #9EE493;
}

#nav_right_elements
{
    margin-left: auto;
}

/* Form Consultation */

#sexe
{
    margin: 3%;
}

.entete
{
    margin-top: 5%;
    margin-bottom: 5%;
}


.radios
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;

  @media(max-width: 640px)
  {
    flex-direction: column;
  }
}

.radio
{
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  input
  {
    position: absolute;
    pointer-events: none;
    visibility: hidden;

  }
}
