body
{
    text-align: center;
    align-items: center;
}

#mainContainer
{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.memberView
{
    flex-direction: column;
}

.success
{
    flex-direction: column;
}
